body {

}

p {
padding: 0px;
margin: 0px;
}

h1 {
color:lightblue; 
font-size:300%;
}

p.round {
border: 2px solid darkgoldenrod;
border-radius: 3px;
background-color: royalblue;
width: 30%;
word-wrap: break-word;
color: white;
}

p.divider {
color: white;
font-size:125%;	
}

p.full_text {
width: 624px;
word-wrap: break-word;
color: white;
}

p.in {
width: 624px;
word-wrap: break-word;
color: black;
text-indent: 48px;
}

div.div_round {
border: 2px solid darkgoldenrod;
border-radius: 3px;
background-color: royalblue;
width: fit-content;
word-wrap: break-word;
color: black;
padding: 5px;
}

div.writing {
width: 35%;
word-wrap: break-word;
overflow: auto;
}

.years {
  position: relative;
  display: inline-block;
  color: cyan;
  border-style: hidden;
  border-width: 8px;
  border-color: white;
}

div.center_pics {
margin: auto;
width: 60%;
border: 5px red;
border-radius: 18px;
}

img.upper_right {
border: 5px red;
border-radius:18px
}

.dropdown {
  position: relative;
  display: inline-block;
  color: lime;
  border-style: ridge;
  border-width: 3px;
  border-color: cyan;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255,0,0,1);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: green;
  border-style: ridge;
  border-width: 3px;
  border-color: cyan;
}
a:link {
	color: cyan;
	font-size: 20px;
}
a:visited {
	color: orange;
}
a:hover {
	color: white;
}

#teal_hover:hover {
	width: fit-content;
}

#teal_hover:hover a:visited{
	color: white;
}

body {
	background-image: url(homepage/webbsea.jpg); 
	background-size: 100%;
}